#combat0-parallax, #bounty-parallax {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2)), url("../images/splash/combat0.jpg");
}
#combat1-parallax {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2)), url("../images/splash/combat1.jpg");
    background-position: center 45%;
}
#combat2-parallax {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2)), url("../images/splash/combat2.jpg");
    background-position: center 40%;
}

#exploration0-parallax, #exploration-parallax {
    background-image: url("../images/splash/exploration0.jpg");
}
#exploration1-parallax {
    background-image: url("../images/splash/exploration1.jpg");
    background-position: center 20%;
}
#exploration2-parallax {
    background-image: linear-gradient(rgba(0, 0, 0, 0.15)), url("../images/splash/exploration2.jpg");
}
#exploration3-parallax {
    background-image: linear-gradient(rgba(0, 0, 0, 0.15)), url("../images/splash/exploration3.jpg");
}
#exploration4-parallax {
    background-image: url("../images/splash/exploration4.jpg");
    background-position: center 70%;
}
#exploration5-parallax {
    background-image: url("../images/splash/exploration5.jpg");
    background-position: center 30%;
}
#exploration6-parallax {
    background-image: linear-gradient(rgba(0, 0, 0, 0.15)), url("../images/splash/exploration6.jpg");
}
#exploration7-parallax {
    background-image: linear-gradient(rgba(0, 0, 0, 0.15)), url("../images/splash/exploration7.jpg");
}
#exploration8-parallax {
    background-image: linear-gradient(rgba(0, 0, 0, 0.15)), url("../images/splash/exploration8.jpg");
}

#general0-parallax, #faq-parallax {
    background-image: linear-gradient(rgba(0, 0, 0, 0.15)), url("../images/splash/general0.jpg");
}
#general1-parallax {
    background-image: linear-gradient(rgba(0, 0, 0, 0.15)), url("../images/splash/general1.jpg");
    background-position: center 60%;
}
#general2-parallax {
    background-image: linear-gradient(rgba(0, 0, 0, 0.15)), url("../images/splash/general2.jpg");
    background-position: center 20%;
}
#general3-parallax {
    background-image: linear-gradient(rgba(0, 0, 0, 0.15)), url("../images/splash/general3.jpg");
    background-position: center 60%;
}
#general4-parallax {
    background-image: linear-gradient(rgba(0, 0, 0, 0.35)), url("../images/splash/general4.jpg");
}
#general5-parallax, #missions-parallax {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1)), url("../images/splash/general5.jpg");
    background-position: center 60%;
}
#general6-parallax, #permits-parallax {
    background-image: linear-gradient(rgba(0, 0, 0, 0.15)), url("../images/splash/general6.jpg");
}

#mining0-parallax, #mining-parallax {
    background-image: url("../images/splash/mining0.jpg");
    background-position: 0 0;
}
#mining1-parallax {
    background-image: linear-gradient(rgba(0, 0, 0, 0.15)), url("../images/splash/mining1.jpg");
    background-position: center 40%;
}
#mining2-parallax {
    background-image: linear-gradient(rgba(0, 0, 0, 0.15)), url("../images/splash/mining2.jpg");
    background-position: center 30%;
}
#mining3-parallax {
    background-image: linear-gradient(rgba(0, 0, 0, 0.15)), url("../images/splash/mining3.jpg");
}
#mining4-parallax {
    background-image: linear-gradient(rgba(0, 0, 0, 0.15)), url("../images/splash/mining4.jpg");
}