$wPrimaryColor: rgba(0,0,0,0.87); //#2a2a2a
$wSecondaryColor: rgba(0,0,0,0.60);
$wSecondaryBgColor: #f6f6f6;
$wAccentColor: #2a477e;
$wErrorColor: #B00020;

$dPrimaryColor: #212121;
$dSecondaryColor: #303030;
$dBorderColor: #5f6368; 
$dTextColor: #e8eaed;

/* find-me
$primaryColor: #212121;
$secondaryColor: #303030;
$textColor: #e8eaed;
$borderColor: #5f6368; */